body{
    padding:0;
    margin:0;
    background-color: black;
}

.x{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-bottom:10px;
    font-family :Arial;
    padding: 10px;
}
.boxz img{
    display:block;
    margin: auto;
    width: 50%;
   
}
.boxp{
    
    align-items: center;
    font-family: Arial;
    color:white;
    padding:1vw;
   
}
.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

header{
    text-align: center;
    font-family: Arial;
    color: white;
}
footer p{
    text-align: center;
}
.word{
    color:aquamarine;
}
.wd{
    color:white;
}