body{
    padding:0;
    margin:0;
    background-color: black;
}
.x{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
 
    margin-bottom:10px;
    font-family :'微軟正黑體';
    padding: 10px;
}
.vi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header{
    text-align: center;
    font-family: '微軟正黑體';
    color: white;
}
footer{
    text-align: center;
}